* {
 font-family: EB Garamond;
}

.icon {
    width: 10%;
}

body {
    padding: 1rem;
}

.spacer {
    height: 3rem;
}

.bibbase_amazon {
    display: none;
}

.bibbase_group {
    background-color: #95CEEA;
}
